@import "tailwindcss";

@theme {
  --color-primary: #163979;
  --color-mid: #437be0;
  --color-sec: #93c5fd;
  --color-third: #bfdbfe;
  --color-button-primary: #ed7521;
  --color-button-hover: #d66413;
  --color-link: #0171ce;
  --color-section: #edf0f5;
  --color-light: #dbeafe;
}

/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
}

.fc-view-harness {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.fc-event-title {
  white-space: normal !important; /* allow text to wrap */
  overflow-wrap: break-word; /* break long words if needed */
}

.fc-daygrid-event {
  white-space: normal !important;
  padding: 2px 4px;
}

.fc .fc-scrollgrid {
  border-color: #e5e7eb; /* Tailwind gray-200 */
}

.fc .fc-daygrid-day {
  border-color: #fff !important; /* Change individual cell border */
  background-color: #bfdbfe !important; 
}

.fc-theme-standard td,
.fc-theme-standard th {
  border-color: #e5e7eb; /* Table cell and header border */
}

.fc .fc-col-header-cell {
  background-color: #437be0; /* e.g. Tailwind gray-100 */
  color: #ffffff;            /* Tailwind gray-800 */
  font-weight: 600;
}

.fc .fc-daygrid-day {
  background-color: #ffffff; /* or #f9fafb for a soft background */
  border: 1px solid #e5e7eb; /* Tailwind gray-200 */
}

.fc .fc-day-today {
  background-color: #faf4cf !important; /* Tailwind yellow-100 */
}

/* index.css */
.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 9999px;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #163979 transparent;
}

.react-calendar {
  background-color: #dbeafe !important;
  border-radius: 12px;
  border: 1px solid var(--color-mid);
  color: var(--color-primary); /* #163979 */
}

/* Hari ini */
.react-calendar__tile--now {
  background: var(--color-primary) !important; /* #93c5fd */
  color: #fff !important; /* #163979 */
  border-radius: 8px;
}

/* Hover tile */
.react-calendar__tile:hover {
  background-color: var(--color-sec) !important;
  color: white;
  border-radius: 8px;
}

/* Tile normal */
.react-calendar__tile {
  border-radius: 8px;
}

.event-dot {
  background-color: #ef4444 !important;
}


/* Navigasi tombol */
.react-calendar__navigation button {
  color: var(--color-primary);
}

.react-calendar__navigation button:hover {
  background-color: var(--color-sec) !important;
  border-radius: 8px;
}

/* Header bulan dan tahun */
.react-calendar__navigation__label {
  font-weight: bold;
  color: var(--color-primary);
}

