@import "tailwindcss";

@theme {
  --color-primary: #163979;
  --color-mid: #437be0;
  --color-sec: #93c5fd;
  --color-third: #BFDBFE;
  --color-button-primary: #ed7521;
  --color-button-hover: #d66413;
  --color-link: #0171ce;
  --color-section: #EDF0F5;
  --color-light: #DBEAFE;
}

/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
}